#label{
	position: relative;
	left: 10.5em;
	bottom: 3.5em;
	font-size: 250%;
}

#gauge{
	margin-top: 10em;
	margin-left: 10em;
	width:400px;
	height:320px
}


.pl-form {
	padding-left: 300px;
}

.form-control {
	margin-bottom: 25px;
}




body {
	padding-top: 20px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 40px;
	border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

.navbar {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
	background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
	background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
	background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
	border: 1px solid #e5e5e5;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 5px 0px;
    padding:15px 10px 15px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.hidden {
    visibility: hidden;
}

@media (min-width: 768px) {
	.navbar-nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	.navbar-nav .nav-item {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
}